.App {
  min-height: 100vh;
  color: #4b4b4b; /* Duolingo dark grey */
}

.main-content {
  padding: 2rem 1rem 6rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-content {
    padding: 2rem 2rem 6rem;
  }
}