@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #4b4b4b; /* Duolingo dark grey */
  line-height: 1.6;
}

#root {
  min-height: 100vh;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff; /* Duolingo white */
}

::-webkit-scrollbar-thumb {
  background: #89e219; /* Duolingo light green */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #58cc02; /* Duolingo green */
}